Repository huijiewei/resolid: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx --no eslint --fix {staged_files}

prettier:
  run: npx --no prettier --write {staged_files}

refactor(website): 更新后台管理页面
  website/src/foundation/session.admin.server.ts
  website/src/routes/admin/_index.tsx
  website/src/routes/admin/_layout.tsx
  website/src/routes/admin/about.tsx
  website/src/routes/admin/blog/$.tsx
  website/src/routes/admin/blog/$id.tsx
  website/src/routes/admin/blog/_index.tsx
  website/src/routes/admin/blog/_layout.tsx
  website/src/routes/admin/blog/new.tsx
  website/tailwind.admin.config.ts
  website/tsconfig.json
  website/vite.config.ts
Due: eslint, prettier

chore(website): 优化 Vite manualChunks 配置
  website/vite.config.ts
Due: eslint, prettier

refactor(mdx-plugins): 优化组件属性排序, 必须的靠前
  packages/mdx-plugins/src/remark-docgen/index.ts
  website/src/routes/_site/ui/_mdx/__components.tsx
Due: eslint, prettier

refactor(react-ui): 提取公用样式
  packages/react-ui/src/components/button/Button.tsx
  packages/react-ui/src/components/button/button.styles.ts
  packages/react-ui/src/components/checkbox/Checkbox.tsx
  packages/react-ui/src/components/close-button/CloseButton.tsx
  packages/react-ui/src/components/input/Input.tsx
  packages/react-ui/src/components/radio/Radio.tsx
  packages/react-ui/src/components/select/NativeSelect.tsx
  packages/react-ui/src/components/select/Select.tsx
  packages/react-ui/src/shared/styles.ts
  website/src/routes/_site/ui/_mdx/components/select.mdx
Due: eslint, prettier

build: 升级依赖库
  package.json
  pnpm-lock.yaml
Due: prettier

refactor(react-ui): 优化菜单组件结构
  packages/react-ui/src/components/context-menu/ContextMenu.tsx
  packages/react-ui/src/components/dropdown-menu/DropdownMenu.tsx
  packages/react-ui/src/components/menu/MenuItem.tsx
  packages/react-ui/src/components/menu/MenuItemTrigger.tsx
  packages/react-ui/src/components/menu/MenuLabel.tsx
  packages/react-ui/src/components/menu/menu.styles.ts
  packages/react-ui/src/components/menu/menuItemTriggerContext.ts
  website/src/routes/_site/_layout.tsx
  website/src/routes/_site/ui/_mdx/components/context-menu.mdx
  website/src/routes/_site/ui/_mdx/components/dropdown-menu.mdx
Due: eslint, prettier

refactor(react-ui): 提取公用图标组件
  packages/react-ui/src/components/breadcrumb/Breadcrumb.tsx
  packages/react-ui/src/components/breadcrumb/BreadcrumbSeparator.tsx
  packages/react-ui/src/components/menu/MenuItemTrigger.tsx
  packages/react-ui/src/components/pagination/PaginationItem.tsx
  packages/react-ui/src/shared/Icons.tsx
  website/src/routes/_site/ui/_mdx/components/breadcrumb.mdx
Due: eslint, prettier

refactor(remix-plugins): 使用 esbuild 的 minify 选项自动填充生产环境变量
  packages/remix-plugins/src/base/build-utils.ts
Due: eslint, prettier

refactor(react-ui): 优化 Select 组件样式
  packages/react-ui/src/components/select/Select.tsx
  packages/react-ui/src/components/select/SelectOption.tsx
  website/src/routes/_site/ui/_mdx/components/select.mdx
Due: eslint, prettier

docs(website): 更新网站服务协议和隐私政策文档
  website/public/robots.txt
  website/src/routes/_site/_home/privacy-policy.tsx
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/_site/_home/terms-service.tsx
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/config/package.json
  packages/react-ui/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

fix(react-ui): 修复 Select 组件分组显示当前值选中错误的问题
  packages/react-ui/src/components/select/Select.tsx
  packages/react-ui/src/components/select/SelectOption.tsx
Due: eslint, prettier

build: 升级依赖库
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
  website/vite.config.ts
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

fix(react-ui): 修复浮动相关组件的触发方式
  packages/react-ui/src/components/menu/MenuContent.tsx
  packages/react-ui/src/components/menu/MenuItem.tsx
  packages/react-ui/src/components/menu/MenuItemTrigger.tsx
  packages/react-ui/src/components/menu/MenuRoot.tsx
  packages/react-ui/src/components/menu/menuContext.ts
  packages/react-ui/src/components/menu/menuItemTriggerContext.ts
  packages/react-ui/src/components/popover/PopoverRoot.tsx
  packages/react-ui/src/components/tooltip/TooltipRoot.tsx
  website/src/routes/_site/ui/_mdx/components/dropdown-menu.mdx
Due: eslint, prettier

refactor(react-ui): 删除 useAllowHover Hook
  packages/react-ui/src/hooks/index.ts
  packages/react-ui/src/hooks/use-allow-hover/index.ts
Due: eslint, prettier

build: 升级依赖库
  pnpm-lock.yaml
  website/package.json
Due: prettier

fix(react-ui): 修复 Select 禁用选项方向键无法跳过的问题
  packages/react-ui/src/components/select/Select.tsx
  packages/react-ui/src/components/select/SelectOption.tsx
  packages/react-ui/src/hooks/use-callback-ref/index.ts
  packages/react-ui/src/shared/Icons.tsx
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/framework/package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(react-ui): 优化 useDisclosure 返回值
  packages/react-ui/src/components/menu/MenuRoot.tsx
  packages/react-ui/src/components/popover/PopoverRoot.tsx
  packages/react-ui/src/components/tooltip/TooltipRoot.tsx
  packages/react-ui/src/hooks/use-disclosure/index.test.ts
  packages/react-ui/src/hooks/use-disclosure/index.ts
Due: eslint, prettier

feat(react-ui): 增加 Collapsible 组件
  packages/mdx-plugins/src/remark-docgen/index.ts
  packages/react-ui/src/components/collapsible/collapsible-content.tsx
  packages/react-ui/src/components/collapsible/collapsible-context.ts
  packages/react-ui/src/components/collapsible/collapsible-root.tsx
  packages/react-ui/src/components/collapsible/collapsible-trigger.tsx
  packages/react-ui/src/components/collapsible/collapsible.tsx
  packages/react-ui/src/components/index.ts
  packages/react-ui/src/components/popover/PopoverContent.tsx
  packages/tailwind/src/index.ts
  website/src/assets/icons/sprite.svg
  website/src/components/ClipboardButton.tsx
  website/src/routes/_site/ui/_layout.tsx
  website/src/routes/_site/ui/_mdx/_layout.tsx
  website/src/routes/_site/ui/_mdx/components/collapsible.mdx
Due: eslint, prettier

build: 升级依赖库
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(react-ui): 优化 Collapsible 组件动画时间
  packages/react-ui/src/components/collapsible/collapsible-content.tsx
  website/src/routes/_site/ui/_mdx/components/collapsible.mdx
Due: eslint, prettier

style: 更新 ESLint 规则, 优化代码格式
  packages/config/src/eslint.typescript.js
  packages/framework/src/modules/auth/service.ts
  packages/framework/src/utils/zod.ts
  packages/mdx-plugins/src/remark-docgen/index.ts
  packages/react-ui/src/components/alert/alert.tsx
  packages/react-ui/src/components/checkbox/checkbox-icon.tsx
  packages/react-ui/src/components/input/input-addon.tsx
  packages/react-ui/src/components/input/input.styles.ts
  website/src/components/base/route-process-bar.tsx
  website/src/components/blurhash-canvas.tsx
  website/src/components/clipboard-button.tsx
  website/src/extensions/turnstile/turnstile-widget.tsx
  website/src/routes/_site/ui/_layout.tsx
Due: eslint, prettier

perf(website): 禁止在累加器上使用展开语法
  website/src/routes/_site/ui/_mdx/__components.tsx
Due: eslint, prettier

docs: 更新贡献指南文档
  CONTRIBUTING.md
Due: prettier

perf(react-ui): 优化 Select 组件性能
  packages/react-ui/src/components/select/select-context.ts
  packages/react-ui/src/components/select/select-option.tsx
  packages/react-ui/src/components/select/select.tsx
Due: eslint, prettier

style: 优化代码格式
  packages/framework/src/utils/exceptions.ts
  packages/framework/src/utils/remix.ts
  packages/react-ui/src/components/avatar/avatar.styles.ts
  packages/react-ui/src/components/drawer/drawer-content.tsx
  packages/react-ui/src/components/menu/menu-checkbox-item.tsx
  packages/react-ui/src/components/menu/menu-item.tsx
  packages/react-ui/src/components/menu/menu-radio-group.tsx
  packages/react-ui/src/components/menu/menu-radio-item.tsx
  packages/react-ui/src/components/modal/modal-content.tsx
  packages/react-ui/src/components/modal/modal-root.tsx
  packages/react-ui/src/components/pagination/pagination.tsx
  packages/react-ui/src/components/popover/popover-root.tsx
  packages/react-ui/src/hooks/use-merge-refs/index.ts
  packages/react-ui/src/utils/color.ts
  packages/remix-plugins/src/base/build-utils.ts
  packages/remix-plugins/src/flex-routes/index.ts
  packages/remix-plugins/src/flex-routes/utils.ts
  packages/remix-plugins/src/vercel-serverless/preset.ts
  packages/tailwind/src/index.ts
  packages/tailwind/src/utils/color.ts
  packages/utils/src/string/index.ts
  website/src/components/base/color-mode-toggle.tsx
  website/src/components/base/history-link.tsx
  website/src/components/clipboard-button.tsx
  website/src/routes/_site/ui/_layout.tsx
  website/src/routes/_site/ui/_mdx/_layout.tsx
Due: eslint, prettier

refactor(website): 更新 apple-touch-icon 图片文件
  website/public/apple-touch-icon.png
Due: none

build: 升级依赖库
  package.json
  packages/framework/package.json
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
  website/vite.config.ts
Due: eslint, prettier

fix(framework): 更新 zodErrorMap 错误类型
  packages/framework/src/utils/zod.ts
Due: eslint, prettier

chore: 升级 PNPM 到 9.0.5
  .npmrc
  package.json
  packages/config/.github/workflows/publish.yml
  packages/remix-plugins/.github/workflows/publish.yml
  pnpm-lock.yaml
Due: prettier

feat(react-ui): 增加 Tabs 组件
  packages/react-ui/src/components/index.ts
  packages/react-ui/src/components/tabs/tabs-content.tsx
  packages/react-ui/src/components/tabs/tabs-context.ts
  packages/react-ui/src/components/tabs/tabs-indicator.tsx
  packages/react-ui/src/components/tabs/tabs-list.tsx
  packages/react-ui/src/components/tabs/tabs-root.tsx
  packages/react-ui/src/components/tabs/tabs-trigger.tsx
  packages/react-ui/src/components/tabs/tabs.tsx
  website/src/routes/_site/ui/_layout.tsx
  website/src/routes/_site/ui/_mdx/components/tabs.mdx
  website/tailwind.config.ts
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/config/package.json
  packages/framework/package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(website): 更新类型定义, 优化界面
  .vscode/settings.json
  packages/framework/src/utils/remix.ts
  website/src/modules/user/service.server.ts
  website/src/routes/_site/_home/password-forgot.tsx
  website/src/routes/_site/_layout.tsx
  website/src/routes/_site/_user/_layout.tsx
  website/src/routes/_site/_user/settings.tsx
  website/src/routes/_site/_user/user.$name.tsx
  website/src/routes/admin/blog/$id.tsx
  website/tailwind.admin.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,html,css,yml,md,mdx}
