Repository huijiewei/resolid: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx --no eslint --fix {staged_files}
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,html,css,yml,md,mdx}"
      run: npx --no prettier --write {staged_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

feat: 升级 Remix 到 2.9.0-pre.1
  package.json
  packages/framework/package.json
  packages/framework/src/core/auth/validator.ts
  packages/framework/src/modules/admin/service.ts
  packages/framework/src/modules/admin/validator.ts
  packages/framework/src/modules/user/service.ts
  packages/framework/src/modules/user/validator.ts
  packages/framework/src/utils/exceptions.ts
  packages/remix-plugins/package.json
  packages/remix-plugins/src/base/build-utils.ts
  packages/remix-utils/package.json
  packages/remix-utils/src/data/hooks.ts
  packages/remix-utils/src/index.ts
  pnpm-lock.yaml
  website/package.json
  website/src/entry.server.tsx
  website/src/modules/system/service.server.ts
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/_site/_home/status.tsx
  website/src/routes/_site/_layout.tsx
  website/src/routes/_site/ui/_index.tsx
  website/vite.config.ts
Due: eslint, prettier

refactor(website): 优化登陆注册页面样式
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/signup.tsx
Due: eslint, prettier

build: 升级依赖库
  package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

build: 升级依赖库
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

feat: 完善用户登录注册功能
  packages/framework/cli/index.ts
  packages/framework/package.json
  packages/framework/src/core/auth/service.ts
  packages/framework/src/core/auth/utils.ts
  packages/framework/src/core/auth/validator.ts
  packages/framework/src/foundation/session.ts
  packages/framework/src/foundation/setup.ts
  packages/framework/src/index.ts
  packages/framework/src/modules.borwser.ts
  packages/framework/src/modules/user/service.ts
  packages/framework/src/modules/user/utils.ts
  packages/framework/src/utils.ts
  packages/remix-utils/src/http/utils.ts
  pnpm-lock.yaml
  website/app.d.ts
  website/src/entry.server.tsx
  website/src/foundation/http.server.ts
  website/src/foundation/session.server.ts
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/logout.tsx
  website/src/routes/_site/_home/settings.tsx
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/_site/_home/status.tsx
  website/src/routes/_site/_layout.tsx
Due: eslint, prettier

build: 升级依赖库
  packages/config/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

fix(framework): 修复核心框架导出
  packages/framework/package.json
  packages/framework/src/modules/admin/service.ts
  packages/framework/src/modules/user/service.ts
  packages/framework/src/utils/zod.ts
Due: eslint, prettier

feat: 增加忘记密码和密码重设功能
  .idea/codeStyles/Project.xml
  package.json
  pnpm-lock.yaml
  website/package.json
  website/public/images/resolid.png
  website/src/extensions/turnstile/TurnstileWidget.tsx
  website/src/extensions/turnstile/trunstile.server.ts
  website/src/foundation/db.server.ts
  website/src/modules/user/schema.server.ts
  website/src/modules/user/service.server.ts
  website/src/modules/user/validator.ts
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/logout.tsx
  website/src/routes/_site/_home/password-forgot.tsx
  website/src/routes/_site/_home/password-reset.tsx
  website/src/routes/_site/_home/privacy-policy.tsx
  website/src/routes/_site/_home/settings.tsx
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/_site/_home/terms-service.tsx
  website/vite.config.ts
Due: eslint, prettier

refactor(remix-plugins): 优化 rollup 打包配置
  packages/remix-plugins/src/base/build-utils.ts
Due: eslint, prettier

chore: 更新 tsconfig 配置文件
  .idea/jsonSchemas.xml
  packages/config/tsconfig.base.json
  packages/framework/tsconfig.json
  packages/mdx-plugins/tsconfig.json
  packages/react-ui/tsconfig.json
  packages/remix-plugins/tsconfig.json
  packages/remix-utils/tsconfig.json
  packages/tailwind/tsconfig.json
  packages/utils/tsconfig.json
  website/tsconfig.json
Due: prettier

fix(remix-plugins): 修复 Remix Single Fetch 功能数据缓存问题
  packages/remix-plugins/src/node-hono/entry.ts
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/framework/package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  packages/remix-utils/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(website): 优化 Cookie 和退出登陆功能
  website/src/foundation/session.server.ts
  website/src/routes/_site/_home/logout.tsx
  website/src/routes/_site/_layout.tsx
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/react-ui/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(website): 调整 streamTimeout 值, 少于 AbortDelay
  website/src/entry.server.tsx
Due: eslint, prettier

chore: 更新 package.json 的 repository.url 值
  package.json
  packages/config/package.json
  packages/framework/package.json
  packages/mdx-plugins/package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  packages/remix-utils/package.json
  packages/tailwind/package.json
  packages/utils/package.json
Due: prettier

refactor(react-ui): 优化 Select 组件样式
  packages/react-ui/src/components/select/NativeSelect.tsx
  packages/react-ui/src/components/select/Select.styles.ts
  packages/react-ui/src/components/select/Select.tsx
  website/src/routes/_site/ui/_mdx/components/select.mdx
Due: eslint, prettier

refactor(framework): 设置 postgres 的 prepare 默认为 false, 适应 serverless
  packages/framework/src/foundation/database.ts
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/framework/package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(framework): 读取邮件配置环境变量从核心框架层转移到应用层
  packages/framework/README.md
  packages/framework/env.d.ts
  packages/framework/src/extensions/mailer/brevo.ts
  packages/framework/src/foundation/mailer.ts
  website/env.d.ts
  website/src/foundation/mail.server.ts
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/config/package.json
  packages/framework/package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  packages/remix-utils/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

build: 升级依赖库
  package.json
  packages/react-ui/package.json
  packages/remix-plugins/package.json
  pnpm-lock.yaml
  website/package.json
  website/vite.config.ts
Due: eslint, prettier

refactor(remix-utils): 移除 responseRedirect 方法, 使用 Remix 内置 redirect 方法
  packages/remix-utils/src/http/utils.ts
  website/src/foundation/session.server.ts
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/logout.tsx
  website/src/routes/_site/_home/settings.tsx
  website/src/routes/_site/_home/signup.tsx
Due: eslint, prettier

refactor(framework): 优化核心框架类型定义
  packages/framework/src/modules/auth/service.ts
  website/src/modules/user/schema.server.ts
  website/src/modules/user/service.server.ts
Due: eslint, prettier

chore: 增加开发运行脚本到根项目
  CONTRIBUTING.md
  package.json
Due: prettier

build: 升级依赖库
  pnpm-lock.yaml
Due: none

refactor(tailwind): 优化样式
  package.json
  packages/react-ui/src/components/checkbox/Checkbox.tsx
  packages/react-ui/src/components/input/Input.tsx
  packages/react-ui/src/components/input/InputAddon.tsx
  packages/react-ui/src/components/menu/MenuContent.tsx
  packages/react-ui/src/components/modal/ModalContent.tsx
  packages/react-ui/src/components/popover/PopoverContent.tsx
  packages/react-ui/src/components/popover/PopoverHeader.tsx
  packages/react-ui/src/components/radio/Radio.tsx
  packages/react-ui/src/components/select/NativeSelect.tsx
  packages/react-ui/src/components/select/Select.tsx
  packages/tailwind/src/index.ts
  packages/tailwind/src/plugins/scrollbar.ts
  packages/tailwind/src/tokens/colors-semantic-dark.ts
  packages/tailwind/src/tokens/colors-semantic-light.ts
  pnpm-lock.yaml
  website/package.json
  website/postcss.config.js
  website/src/routes/_site/ui/_mdx/__components.tsx
  website/src/routes/_site/ui/_mdx/_layout.tsx
  website/src/routes/_site/ui/_mdx/components/avatar.mdx
  website/src/routes/_site/ui/_mdx/components/drawer.mdx
  website/src/routes/_site/ui/_mdx/components/image.mdx
  website/src/routes/_site/ui/_mdx/components/modal.mdx
Due: eslint, prettier

feat(react-ui): 增加 useLocalStorage Hook
  packages/react-ui/src/hooks/index.ts
  packages/react-ui/src/hooks/use-local-storage/index.test.ts
  packages/react-ui/src/hooks/use-local-storage/index.ts
Due: eslint, prettier

feat(react-ui): 增加 ResolidProvider, ColorMode 组件
  packages/react-ui/src/components/index.ts
  packages/react-ui/src/components/provider/ColorModeContext.ts
  packages/react-ui/src/components/provider/ColorModeProvider.tsx
  packages/react-ui/src/components/provider/ColorModeScript.tsx
  packages/react-ui/src/components/provider/ResolidProvider.tsx
Due: eslint, prettier

feat(website): 增加深色模式切换功能
  website/src/assets/icons/sprite.svg
  website/src/assets/images/resolid.svg
  website/src/components/base/ColorModeToggle.tsx
  website/src/root.css
  website/src/root.tsx
  website/src/routes/_site/_home/status.tsx
  website/src/routes/_site/_layout.tsx
  website/src/routes/_site/ui/_mdx/_layout.tsx
Due: eslint, prettier

refactor(website): 优化深色模式切换
  packages/react-ui/src/components/provider/ColorModeScript.tsx
  website/src/components/base/RouteProcessBar.tsx
  website/src/root.tsx
Due: eslint, prettier

feat(react-ui): 增加 Alert 组件
  packages/react-ui/src/components/alert/Alert.styles.ts
  packages/react-ui/src/components/alert/Alert.tsx
  packages/react-ui/src/components/index.ts
  packages/react-ui/src/shared/styles.ts
  website/src/assets/icons/sprite.svg
  website/src/routes/_site/_home/status.tsx
  website/src/routes/_site/ui/_mdx/components/alert.mdx
Due: eslint, prettier

build: 升级依赖库
  package.json
  packages/remix-plugins/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier

refactor(react-ui): 精简变量赋值和优化样式顺序
  packages/react-ui/src/components/input/Input.tsx
  packages/react-ui/src/components/select/Select.tsx
Due: eslint, prettier

refactor(utils): 优化 function 类型定义
  packages/utils/src/function/index.ts
Due: eslint, prettier

feat(react-ui): 增加 useTimeout Hook
  packages/react-ui/src/hooks/index.ts
  packages/react-ui/src/hooks/use-timeout/index.ts
Due: eslint, prettier

feat(config): 增加 eslint-plugin-react-refresh 插件
  packages/config/package.json
  packages/config/src/eslint.react.js
  pnpm-lock.yaml
Due: eslint, prettier

docs(website): 更新 Popover 文档
  website/src/routes/_site/ui/_mdx/components/popover.mdx
Due: prettier
