Repository huijiewei/resolid: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-framework, eslint-website, prettier

eslint-framework:
  run: npx --no eslint --fix {staged_files}

eslint-website:
  run: npx --no eslint --fix {staged_files}

prettier:
  run: npx --no prettier --write {staged_files}

refactor: update user service imports and improve validation logic
  package.json
  packages/framework/package.json
  packages/framework/src/modules/auth/service.ts
  packages/framework/src/modules/auth/validator.ts
  packages/framework/src/utils.ts
  packages/framework/src/utils/validate.ts
  pnpm-lock.yaml
  website/package.json
  website/src/modules/admin/service.server.ts
  website/src/modules/admin/validator.ts
  website/src/modules/user/service.server.ts
  website/src/modules/user/validator.ts
  website/src/root.tsx
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/password-forgot.tsx
  website/src/routes/_site/_home/password-reset.tsx
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/_site/_user/user.$name.tsx
Due: eslint-framework, eslint-website, prettier

refactor: improve auth validation and type safety
  packages/framework/src/modules/auth/service.ts
  packages/framework/src/modules/auth/validator.ts
  packages/framework/src/utils/validate.ts
Due: eslint-framework, prettier

refactor: update table index definitions to use array syntax
  packages/framework/package.json
  packages/framework/src/modules/auth/service.ts
  pnpm-lock.yaml
  website/drizzle.config.ts
  website/package.json
  website/src/modules/admin/schema.server.ts
  website/src/modules/admin/validator.ts
  website/src/modules/user/schema.server.ts
  website/vite.config.ts
Due: eslint-framework, eslint-website, prettier

build: update dependencies
  packages/framework/package.json
  pnpm-lock.yaml
  website/package.json
  website/react-router.config.ts
  website/vite.config.ts
Due: eslint-website, prettier

build: update dependencies
  package.json
  pnpm-lock.yaml
  website/package.json
  website/src/routes/_site/_layout.tsx
  website/src/routes/admin/_layout.tsx
Due: eslint-website, prettier

build: update dependencies
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

chore: update dependencies and configuration
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  website/env.d.ts
  website/package.json
  website/react-router.config.ts
  website/src/server.node.ts
  website/vite.config.ts
Due: eslint-website, prettier

build: update dependencies
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  website/package.json
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/password-forgot.tsx
  website/src/routes/_site/_home/password-reset.tsx
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/admin/login.tsx
Due: eslint-website, prettier

build: update dependencies
  package.json
  packages/framework/package.json
  packages/framework/src/modules/auth/validator.ts
  packages/framework/src/utils/validate.ts
  pnpm-lock.yaml
  website/package.json
  website/src/modules/admin/validator.ts
  website/src/modules/user/validator.ts
Due: eslint-framework, eslint-website, prettier

build: update dependencies
  package.json
  packages/framework/package.json
  packages/framework/src/foundation/mailer.ts
  packages/framework/src/modules/auth/validator.ts
  packages/framework/src/utils/validate.ts
  pnpm-lock.yaml
  website/package.json
  website/src/modules/admin/validator.ts
  website/src/modules/user/validator.ts
Due: eslint-framework, eslint-website, prettier

feat: update AppLoadContext type to support middleware
  package.json
  packages/framework/package.json
  packages/framework/src/utils/remix.ts
  pnpm-lock.yaml
  website/app.d.ts
  website/package.json
  website/react-router.config.ts
  website/src/entry.server.tsx
  website/src/foundation/session.admin.server.ts
  website/src/foundation/session.user.server.ts
  website/src/modules/admin/session.server.ts
  website/src/modules/user/session.server.ts
  website/src/root.tsx
  website/src/routes.ts
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/logout.tsx
  website/src/routes/_site/_home/password-forgot.tsx
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/_site/_home/status.tsx
  website/src/routes/_site/_layout.tsx
  website/src/routes/_site/_user/_layout.tsx
  website/src/routes/_site/_user/settings.tsx
  website/src/routes/_site/_user/user.$name.tsx
  website/src/routes/admin/_layout.tsx
  website/src/routes/admin/blog/$.tsx
  website/src/routes/admin/blog/$id.tsx
  website/src/routes/admin/blog/_index.tsx
  website/src/routes/admin/blog/_layout.tsx
  website/src/routes/admin/blog/new.tsx
  website/src/routes/admin/login.tsx
  website/src/routes/admin/logout.tsx
  website/src/server.base.ts
  website/src/server.node.ts
  website/src/server.vercel.ts
  website/tsconfig.json
Due: eslint-framework, eslint-website, prettier

feat: remove AppLoadContext to support middleware
  website/app.d.ts
  website/react-router.config.ts
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/password-forgot.tsx
  website/src/routes/_site/_home/signup.tsx
  website/src/routes/_site/_home/status.tsx
  website/src/routes/_site/_layout.tsx
  website/src/routes/admin/login.tsx
  website/src/server.base.ts
  website/tsconfig.json
Due: eslint-website, prettier

build: update dependencies
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  website/package.json
  website/src/routes/_site/_home/password-forgot.tsx
Due: eslint-website, prettier

refactor: migrate to drizzle-orm and update dependencies
  package.json
  packages/framework/README.md
  packages/framework/cli/index.ts
  packages/framework/package.json
  packages/framework/src/export/drizzle.ts
  packages/framework/src/foundation/database.ts
  packages/framework/src/foundation/setup.ts
  packages/framework/src/utils/validate.ts
  pnpm-lock.yaml
  website/cli/commands/system.ts
  website/cli/index.ts
  website/package.json
  website/src/entry.server.tsx
  website/src/foundation/db.server.ts
  website/src/foundation/schema.server.ts
  website/src/modules/admin/schema.server.ts
  website/src/modules/system/schema.server.ts
  website/src/modules/user/schema.server.ts
  website/src/modules/user/service.server.ts
Due: eslint-framework, eslint-website, prettier

chore: custom @tailwindcss/language-server in webstorm
  .idea/tailwindcss.xml
  package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

feat: update validation messages and add autocomplete attributes in login and signup forms
  packages/framework/README.md
  packages/framework/src/foundation/setup.ts
  packages/framework/src/modules/auth/validator.ts
  packages/framework/src/utils/validate.ts
  website/src/entry.server.tsx
  website/src/modules/user/validator.ts
  website/src/routes/_site/_home/login.tsx
  website/src/routes/_site/_home/password-forgot.tsx
  website/src/routes/_site/_home/password-reset.tsx
  website/src/routes/_site/_home/signup.tsx
Due: eslint-framework, eslint-website, prettier

feat: add v8_middleware option to react-router
  package.json
  pnpm-lock.yaml
  website/app.d.ts
  website/package.json
  website/react-router.config.ts
  website/src/server.base.ts
  website/tsconfig.json
Due: eslint-website, prettier

feat: add requestId middleware and integrate into status component
  packages/framework/package.json
  packages/framework/src/middlewares.server.ts
  packages/framework/src/middlewares/request-id.ts
  packages/framework/src/modules/auth/service.ts
  packages/framework/src/utils.ts
  packages/framework/src/utils/random.ts
  website/src/components/base/error-component.tsx
  website/src/middlewares/request-id.server.ts
  website/src/root.tsx
  website/src/routes/_site/_home/status.tsx
Due: eslint-framework, eslint-website, prettier

feat: add suspenseComponent
  CONTRIBUTING.md
  pnpm-lock.yaml
  website/package.json
  website/src/components/base/suspense-component.tsx
  website/src/routes/_site/_home/status.tsx
Due: eslint-website, prettier

refactor: rename index to foundation
  packages/framework/package.json
  packages/framework/src/foundation.ts
Due: eslint-framework, prettier

feat: add timezone middleware and integrate into status component
  packages/framework/README.md
  packages/framework/package.json
  packages/framework/src/middlewares.server.ts
  packages/framework/src/middlewares.ts
  packages/framework/src/middlewares/request-id.server.ts
  packages/framework/src/middlewares/timezone.server.ts
  packages/framework/src/middlewares/timezone.tsx
  packages/framework/tsconfig.json
  pnpm-lock.yaml
  website/src/middlewares/timezone.server.ts
  website/src/middlewares/timezone.tsx
  website/src/root.tsx
  website/src/routes/_site/_home/status.tsx
Due: eslint-framework, eslint-website, prettier

feat: add SuspenseComponent and update exports in framework package
  packages/framework/package.json
  packages/framework/src/components.ts
  packages/framework/src/components/suspense-component.tsx
  website/src/components/base/error-component.tsx
  website/src/routes/_site/_home/status.tsx
Due: eslint-framework, eslint-website, prettier

fix: update zod import paths and adjust component resolver logic
  packages/framework/src/modules/auth/validator.ts
  packages/framework/src/utils/validate.ts
  pnpm-lock.yaml
  website/package.json
  website/src/modules/admin/validator.ts
  website/src/modules/user/validator.ts
  website/vite.config.ts
Due: eslint-framework, eslint-website, prettier

refactor: replace createConnection with singleton MySQL pool
  package.json
  packages/framework/package.json
  packages/framework/src/foundation/database.ts
  packages/framework/src/foundation/session.ts
  pnpm-lock.yaml
  website/package.json
  website/src/foundation/db.server.ts
Due: eslint-framework, eslint-website, prettier

refactor: simplify setup function and remove timezone option
  packages/framework/src/foundation/setup.ts
  packages/framework/src/middlewares/timezone.tsx
  website/cli/index.ts
  website/src/entry.server.tsx
Due: eslint-framework, eslint-website, prettier

feat: add vercelPool option to defineDatabase and update db.server usage
  packages/framework/src/foundation/database.ts
  website/env.d.ts
  website/src/foundation/db.server.ts
Due: eslint-framework, eslint-website, prettier

fix: update zod import to fix tree shaking
  packages/framework/package.json
  packages/framework/src/utils/validate.ts
  pnpm-lock.yaml
  website/package.json
  website/src/modules/admin/validator.ts
Due: eslint-framework, eslint-website, prettier

docs: update README and improve layout in status component
  packages/framework/README.md
  website/src/entry.client.tsx
  website/src/entry.server.tsx
  website/src/modules/admin/schema.server.ts
  website/src/modules/system/schema.server.ts
  website/src/routes/_site/_home/status.tsx
  website/src/server.base.ts
Due: eslint-website, prettier

feat: add TimezoneScript component and update middleware integration
  package.json
  packages/framework/eslint.config.js
  packages/framework/src/components.ts
  packages/framework/src/components/timezone-script.tsx
  packages/framework/src/middlewares.ts
  packages/framework/src/middlewares/timezone.tsx
  pnpm-lock.yaml
  website/eslint.config.js
  website/src/middlewares/timezone.tsx
  website/src/root.tsx
Due: eslint-framework, eslint-website, prettier

feat: add Netlify deployment
  .idea/resolid.iml
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  website/.gitignore
  website/env.d.ts
  website/netlify.toml
  website/package.json
  website/react-router.config.ts
  website/src/routes/_site/_layout.tsx
  website/src/server.netlify.ts
Due: eslint-website, prettier

build: update dependencies
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  website/eslint.config.js
  website/package.json
  website/react-router.config.ts
Due: eslint-website, prettier

feat: remove timezoneMidleware
  package.json
  packages/framework/package.json
  packages/framework/src/components.ts
  packages/framework/src/components/timezone-script.tsx
  packages/framework/src/middlewares.server.ts
  packages/framework/src/middlewares/request-id.server.ts
  packages/framework/src/middlewares/timezone.server.ts
  pnpm-lock.yaml
  website/package.json
  website/src/middlewares/timezone.server.ts
  website/src/root.tsx
  website/src/routes/_site/_home/status.tsx
Due: eslint-framework, eslint-website, prettier

build: update dependencies
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  website/package.json
  website/react-router.config.ts
  website/vite.config.ts
Due: eslint-website, prettier

Path conditions:
  eslint-framework: any of: *.{js,jsx,ts,tsx} and ^packages/framework/
  eslint-website: any of: *.{js,jsx,ts,tsx} and ^website/
  prettier: any of: *.{js,jsx,ts,tsx,json}
